body{
  background-color: rgb(140, 158, 167);
  margin:0;
  padding:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.main-header{
  background-color:#333;  
  height: 100px;
  width:100%;
  margin:0;
  padding:0;
  display: flex;
  justify-content:center;
  border:5px #000000;
}

.drafty-header{
  margin:0;
 text-align:center; 
 cursor:pointer;
 color: #ffffff;
}

.side-header{
  border: 2px solid #000000;
  width: 95px;
  background-color:#333;
  color:#ffffff;
  font-size: 15px;
  margin-top: 2px
}

.side-header-hide{
  transform: translateX(-75%)
}

.side-header-button{
  background-color:#000000;
  color:#ffffff;
  font-size: 15px;
  cursor:pointer;
  margin-left:3px;

}

.side-bar{
  background-color: #333;
  margin-top: 1px;
  padding: 2px;
  width: 95px;
  border: 2px solid #333;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  gap: 10px;
  height: 700px;
  overflow-y: auto;
  align-items:center;
  transition:1s;

}

.side-bar-hidden{
  transform: translateX(-110%);
  transition: 0.5s;
}


.item-1, .item-2, .item-3 {
  font-size: 14px;
  font-weight:500px;
  color:#ffffff;
  padding-right: 30px;
  cursor:pointer;
  

  
  
}

