body{
  background-color: #838996;
  margin:0;
  padding:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.main-overlay{
  display:none;
}

.auth-overlay{
    display:none;
    justify-content:center;
    align-items:center
}
.auth-container {
  display:flex;
  gap:20px;
  flex-direction:column;
}

.login-header{
  margin-bottom:0;
}
.input-email{
  background-color:#333;
  color:aliceblue;
  width:180px;
  height:25px;
  cursor:text;
  border-radius:10px;
  padding:5px

}

.input-passwd{
  background-color:#333;
  color:aliceblue;
  width:180px;
  height:25px;
  cursor:text;
  border-radius:10px;
  padding:5px

}

.input-login:hover{background-color:#555}
.input-login{
  background-color:#333;
  color:aliceblue;
  width:190px;
  height:30px;
  cursor:pointer;
  border-radius:5px;

}

.input-signup:hover{background-color:#555}
.input-signup{
  background-color:#333;
  color:aliceblue;
  width:190px;
  height:30px;
  cursor:pointer;
  border-radius:5px;


}


.header-content{ 
  display:flex;
  align-items: center;
  gap: 15px;
}
.main-header{
  background-color:#333;  
  height: 100px;
  width:100%;
  margin:0;
  padding:0;
  display: flex;
  justify-content:center;
  align-items:center;
  border:5px #000000;
}


.logo-img {
  height: 60px;
  width:auto;
  border-radius: 8px;
  cursor:pointer;
}
.content-container{
  margin-top:30px;
  margin-left:120px;
  display:flex;
  flex-direction:column;
  align-items:center;
  flex-grow:1;
}


.notepads-controls-top {
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:80%;
  margin-bottom:10px;
}
.button-group {
  display:flex;
  gap:10px
}
.clear-button:hover {
  background-color:#8a8989
}
.clear-button{
  position:static;
  width:100px;
  height: 35px;
  font-size:15px;
  background-color:#555;
  color:aliceblue;
  border-radius:8px;
  margin-right:none;
  border:2px solid #000000;
  cursor:pointer;
}

.delete-button:hover{
background-color:rgb(252, 123, 123);
}
.delete-button {
  position:static;
  color:#ffffff;
  font-size:15px;
  font-family: inherit;
  background-color: red;
  border-radius: 8px;
  border: 2px solid #ffffff;
  width:100px;
  height: 35px;
  cursor:pointer;
}

.logout-btn {
  position:static;
  color:#ffffff;
  font-size:15px;
  font-family: inherit;
  background-color:#5d94e7;
  border-radius: 8px;
  border: 2px solid #ffffff;
  width:100px;
  height: 35px;
  margin-left: none;
  cursor:pointer;

}

.save-button:hover{
  background-color:#4ff175
}
.save-button{
  position:static;
  color:#ffffff;
  font-size:15px;
  font-family: inherit;
  background-color:#0fbf38;
  border-radius: 8px;
  border: 2px solid #ffffff;
  width:100px;
  height: 35px;
  cursor:pointer;
  
}
.notes-title{
  height:30px;
  border-radius: 8px;
  cursor:pointer;
  border: 2px;
  background-color:#333;
  color:aliceblue;
  width: 200px;
  padding: 0 10px;
}
.note-pad{
  width:80%;
  height: 500px;
  margin-top:10px;
  border-radius: 8px;
  padding: 15px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color:#333;
  color:aliceblue;
  box-sizing:border-box;
}

.notepads-control-bottom {
  display: flex;
  justify-content:flex-end;
  width: 80%;
  margin-top: 10px;
}



.drafty-header{
  margin:0;
 text-align:center; 
 color: #ffffff;
}

.side-header{
  pointer-events:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border: 2px solid #000000;
  width: 100%;
  background-color:#333;
  color:#ffffff;
  font-size: 15px;
  font-family:inherit;
  padding:5px;
  box-sizing:border-box;
}



.side-header-button:hover {
  background-color: #333;
}

.side-header-button{
  background-color:#000000;
  color:#ffffff;
  font-size: 15px;
  cursor:pointer;
  padding-right:7px;

}

.side-bar::-webkit-scrollbar {
  width: 10px;
}
.side-bar::-webkit-scrollbar-thumb{
  background: #555;
  border-radius:10px;
}
.side-bar{
  pointer-events:auto;
 display: flex;
  flex-direction:column;
  justify-content:flex-start;
  flex-grow:1;
  scrollbar-width: thin;
  scrollbar-color: #555 #333;
  -webkit-overflow-scrolling:touch;
  margin-top:1.7%;
  background-color: #333;
  padding: 2%px;
  width: 100%;
  border: 1px solid #333;
  height: calc(100vh - 135px);
  overflow-y: auto;
  overflow-x:hidden;
  box-sizing:border-box;
  transition: 0.5s;
  
}

.note-item:hover{
  background-color:#555;
}

.note-item{
  font-size: 15px;
  color:aliceblue;
  font-family:inherit;
  width: 80%;
  margin-top:10px;
  cursor:pointer;
}

 .side-header-hidden{
    transform:translateX(-75%)

  }

.side-container-hidden {
 transform: translatex(-90%);
}
.side-container {
  position:fixed;
  top:0;
  left:0;
  display:flex;
  flex-direction:column;
  pointer-events:none;
  width:150px;
  height:100vh;
  gap:0;
}




@media (max-width: 855px) {
  
  .side-header-hidden{
    transform:translateX(-80%)

  }
  .note-item{
  font-size: 15px;
  color:aliceblue;
  font-family:inherit;
  width: 90%;
  margin-top:10px;
  cursor:pointer;
}
  .side-container-hidden{
    transform:translateX(-95%)
  }
  .side-container {
    width:180px;
  }
  .content-container {
    margin-left: 0 !important;
    margin-top: 0px;
    padding: 10px;
    width: 100% !important;
    box-sizing:border-box;

  }

  .logout-btn {
    margin-bottom:60px;
  }
  .notepads-controls-top{
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .notes-title {
    width: 90%;
  }
  .bottom-group button {
    flex: 1;
  }

  .button-group {
    width: 100%;
    justify-content: space-between;
  }

  .note-pad {
    width: 100%;
    height: 400px;
    margin-top:15px;
  }

  .notepads-control-bottom {
    width: 100%;
    justify-content: flex-end;

  }

  .clear-button {
    margin-left: 3%
  }

}

